// css About
#about {
    h4,
    h5 {
        font-family: "impact";
    }
    text-align: center;
    width: 100%;
    p{
        font-weight: 700;
    }
    .content{
        padding: 15px 0 12px 0;
      h1{
        color:black;
        font-weight: bolder;
        line-height: 0.8;
        font-size: 2.50rem;
         @include breakpoint(desktop) {
            font-size: 3.25rem;
         }
    }
    }
    

    .row {
        justify-content: space-around;
        .card{
            margin: 25px 5px;
        }
        .card-img-top {
            width: 100%;
            
            margin-top: 15px;
            @include breakpoint(laptop) {
                height: auto;
            }
            @include breakpoint(desktop) {
                height: 180px;
            }
        }

        .title {
            padding: 0 auto;
            text-align: center;

            
        }
    }

    .modal {
        img {
            width: 100%;
            height: auto;
        }
    }
p.card-text{
    margin-top: 5px;
}
}
// visit
.visite {
    text-align: center;
    // background-image: url('./public/images/coota2.jpeg');
    h2 {
        font-family: Impact,
            Haettenschweiler,
            'Arial Narrow Bold',
            sans-serif;
        font-size: 40px;
        font-weight: bolder;
    }
}

iframe {
    object-fit: cover;
}
