// archives
#archive {
    margin-top: 90px;
    text-align: center;

    .headerArchives {
        height: 400px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    h4{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2rem;
    }
}