// archives
#archive {
    margin-top: 90px;
    // text-align: center;
    .col-4{
        margin-bottom: 4px;
    }
    a.fa{
        padding-left: 9px;
    }
    .headerArchives {
        max-height: 400px;
        overflow: hidden;

        img {
            width: 100%;
        }
    }
    h4{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 2rem;
    }
    .input-search{
        margin-bottom: 15px;
    }
}