// bar nav

.main-menu {
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    z-index: 9999;
}

.roue {
    margin: 0 25px;
    font-size: 25px;
    color: black;
}


.navbar {
    padding: 0 !important;

    h1 {
        margin-left: 25px;
    }

    .navbar-toggler {
        margin-right: 25px;
    }
}

.menu li {
    margin: 0 15px;
    font-size: 1.20rem;
    font-family: "impact", "sylfaen";

    @include breakpoint(desktop) {
        font-size: 1.50rem;
    }


}

.menu li a {
    text-decoration: none;
    color: $darkgrey;
}

.reseau {
    list-style: none;
}

.reseau li {
    margin-right: 5px;
    font-size: 35px;

    @include breakpoint(desktop) {
        margin-right: 25px;
    }
}

.reseau li a {
    text-decoration: none;
    color: $darkgrey;
}