footer {
    width: 100%;
    background-color: $darkgrey;
    min-height: 250px;
    padding: 10px 0px 25px 0px;

    iframe {
        height: 65%;
        width: 100%;

        @include breakpoint(mobileonly) {
            height: 85%;
        }
    }

    div.container.bottom_border>div>div.col-sm-6.col-md.col-6.col>h5 {
        @include breakpoint(mobileonly) {
            margin-top: 35px;
        }
    }

    .white_col {
        color: #FFF;
        padding-top: 40px;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
        color: #CCC;
        padding-bottom: 0px;
        margin-bottom: 8px;
    }

    .footer_desc {
        padding-bottom: 15px;
    }

    .footer_ul {
        margin: 0px;
        list-style-type: none;
        font-size: 14px;
        padding: 0px 0px 10px 0px;
    }

    li {
        padding: 0px 0px 5px 0px;

        a {
            color: #CCC;



            &:hover {
                color: #fff;
                text-decoration: none;
            }
        }
    }

    .padding-right {
        padding-right: 10px;
    }
    
    .bottom_border {
        border-bottom: 1px solid $lightgrey;
        padding-bottom: 20px;
    }

    .footer_bottom_ul {
        list-style-type: none;
        padding: 0px;
        display: table;
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;

        li {
            display: inline;

            a {
                color: #999;
                margin: 0 12px;


                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }

        }

    }

    p {
        a {
            color: #fff;
            text-decoration: none;
        }
    }


    .footer_social_ul {
        display: table;
        padding: 0;
        list-style-type: none;

        li {
            padding: 10px;
            float: left;

            a {
                color: #CCC;
                border: 1px solid #CCC;
                padding: 8px;
                border-radius: 50%;

                &:hover {
                    color: $darkgrey;
                    background-color: #CCC;
                }
            }

            i {
                width: 20px;
                height: 20px;
                text-align: center;
            }
        }
    }




}