.col_white_amrc {
    color: #FFF;
}

footer {
    width: 100%;
    background-color: #263238;
    min-height: 250px;
    padding: 10px 0px 25px 0px;

    iframe {
        height: 65%;
        width: 100%;

        @include breakpoint(mobileonly) {
            height: 85%;
        }
    }

    .pt2 {
        padding-top: 40px;
        margin-bottom: 20px;
    }

    p {
        font-size: 13px;
        color: #CCC;
        padding-bottom: 0px;
        margin-bottom: 8px;
    }

    .mb10 {
        padding-bottom: 15px;
    }

    .footer_ul_amrc {
        margin: 0px;
        list-style-type: none;
        font-size: 14px;
        padding: 0px 0px 10px 0px;
    }

    li {
        padding: 0px 0px 5px 0px;

        a {
            color: #CCC;

        

        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    }

    .fleft {
        float: left;
    }

    .padding-right {
        padding-right: 10px;
    }

    .footer_ul2_amrc {
        margin: 0px;
        list-style-type: none;
        padding: 0px;

        li {
            p {
                display: table;
            }

            a:hover {
                text-decoration: none;
            }

            i {
                margin-top: 5px;
            }
        }
    }



    .bottom_border {
        border-bottom: 1px solid #323f45;
        padding-bottom: 20px;
    }

    .foote_bottom_ul_amrc {
        list-style-type: none;
        padding: 0px;
        display: table;
        margin-top: 10px;
        margin-right: auto;
        margin-bottom: 10px;
        margin-left: auto;

        li {
            display: inline;

            a {
                color: #999;
                margin: 0 12px;
           

            &:hover {
                color: #fff;
                text-decoration: none;
            } 
        }

        }

    }

    p {
        a {
            color: #fff;
            text-decoration: none;
        }
    }


    .social_footer_ul {
        display: table;
        padding: 0;
        list-style-type: none;

        li {
            padding: 10px;
            float: left;

            a {
                color: #CCC;
                border: 1px solid #CCC;
                padding: 8px;
                border-radius: 50%;
                &:hover{
                    color:#263238;
                    background-color: #CCC;
                }
            }

            i {
                width: 20px;
                height: 20px;
                text-align: center;
            }
        }
    }




}