/* css slider */
.background {
    position: relative;
    z-index: 1;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to top, black, orangered);
    overflow: hidden;
}
.encartBandeau{
    position: absolute;
    z-index: 50;
    width: 50%;
    // height:50%;
    // background-color: green;
    transform: rotate(-35deg);
  
.bandeauEvent{
    position:relative;
    bottom:0;
    left: 0;
    background-color: red;
    // font-size: 2.5rem;
    color: wheat;
    
    max-width: 100%;
    text-align: center;
    font-family: impact;
}
}

.background::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

@media only screen and (min-width: 1824px) {

      .encartBandeau{
            top: 270px;
            left: -200px;
            p{
                font-size:2.5rem;
            }
    }
}

@media only screen and (min-width: 1224px) and (max-width: 1824px) {
    .encartBandeau{
            top: 220px;
            left: -10%!important;
            p{
                font-size:1.8rem;
            }
    }
}
@media only screen and (min-width: 960px) and (max-width: 1223px) {
    .encartBandeau{
            top:195px;
            left: -7%!important;
            p{
                font-size:1.5rem;
            }
    }
}
@media only screen and (min-width: 500px)  and (max-width: 959px){
    .encartBandeau{
        top: 170px;
           left: -7%!important;
            width: 63%;
            p{
                font-size:1.2rem;
            }
    }
}
    @media only screen and (min-width: 300px) and (max-width: 499px){
    .encartBandeau{
            top:150px;
          left: -7%!important;
            width: 70%;
            p{
                font-size:0.9rem;
            }
    }
}


.carousel-control-prev,
.carousel-control-next {
    z-index: 100 !important;
}

.slide-down {
    position: absolute;
    bottom: 15px;
    z-index: 100;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    margin-bottom: 80px;
}

.slide-down .line {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
    -webkit-animation: slide_down 2s linear infinite;
    animation: slide_down 2s linear infinite;
    text-align: center;
    align-items: center;

    .fa {
        font-size: 50px;
        position: relative;
        bottom: 2px;
    }
}

.carousel-caption {
    text-align: center;
    // align-content: center;
    max-height: 100vh;
    top: 18%;
    bottom: auto;

    .content {
        position: relative;
        z-index: 1;
       .titre, h2 {
            z-index: 1;
            color: $red;
            margin-bottom: 0;
            font-weight: 600;
            display: inline-block;
            font-family: "Twin-Marker" !important;

            @include breakpoint(tablet) {
                font-size: 50px;
            }
            @include breakpoint(laptop) {
                font-size: 120px;
            }
        }

        img {
            max-height: 100vh !important;
        }
    }
}

// @media only screen and (min-width: 768px) and (max-width: 991px) {
//     .content h2 {
//         font-size: 80px;
//     }
// }

// @media only screen and (max-width: 767px) {
//     .content h2 {
//         font-size: 50px;
//     }
// }

.zone {
    text-align: center;
    font-size: 40px;
    font-family: "Twin-Marker" !important;
    color: #ffffff;
    @include breakpoint(mobileonly) {
        font-size: 1.5rem;
    }
}

.bg {
    width: 100%;
    background-position-x: center;
    position: relative;
    top: 80px;
    z-index: 1;
    padding: 0 0px;
    // overflow: hidden;
    @include breakpoint(desktop) {
        height: 99vh;
    }
    @include breakpoint(mobileonly) {
        height: 280px;
    }
}
