@font-face {
    font-family: "Twin-Marker";
    src: url('/fonts/Twin-Marker.ttf') format("truetype");
}
.container-fluid{
    margin: 0!important;
    padding:0!important;
}


h1 {
    font-family: "Twin-Marker",
        sans-serif;
    font-size: 55px;
    // vertical-align: middle;
    color: $black;
}

// bar nav

.main-menu {
    background-color: transparent;
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    z-index: 9999;
    // box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2);
}

.menu li {
    margin: 0 15px;
    font-size: 23px;
    font-family: "Twin-Marker";
}

.menu li a {
    text-decoration: none;
    color: $black;
}

.reseau {
    list-style: none;
}

.reseau li {
    margin-right: 25px;
    font-size: 35px;
}

.reseau li a {
    text-decoration: none;
    color: $black;
}


/* css slider */
.background {
    position: relative;
    z-index: 1;
    border-bottom: 3px solid;
    border-image-source: linear-gradient(to top, black, orangered);
    overflow: hidden;
}

.background::after {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -5;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .background {
        height: 700px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .background {
        height: 650px;
    }
}

@media only screen and (max-width: 767px) {
    .background {
        height: 400px;
    }
}
.carousel-control-prev,
.carousel-control-next {

    z-index: 100 !important;
}
.slide-down {
    position: absolute;
    bottom: 15px;
    z-index: 100;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    margin-bottom: 80px;

}


.slide-down .line {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 auto;
    background-color: white;
    -webkit-animation: slide_down 2s linear infinite;
    animation: slide_down 2s linear infinite;
    text-align: center;
    align-items: center;

    .fa {
        font-size: 50px;
        position: relative;
        bottom: 2px;
    }
}

*.big-text {
    position: absolute;
    color: rgba(255, 255, 255, 0.1);
    font-size: 600px;
    z-index: -10;
    margin-bottom: 0;

}

.carousel-caption {
    text-align: center;
    align-items: center;
    max-height: 100vh;

    .content {
        
        h2 {
            z-index: 1;
            font-size: 120px;
            color: #ffffff;
            margin-bottom: 0;
            font-weight: 600;
            // text-shadow: 18px 0 0 rgba(255, 45, 109, 0.2);
            display: inline-block;
            font-family: "Twin-Marker" !important;
        }

        img {
            max-height: 100vh !important;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .content h2 {
        font-size: 80px;
    }
}

@media only screen and (max-width: 767px) {
    .content h2 {
        font-size: 50px;
    }
}

.zone {
    text-align: center;
    font-size: 40px;
    font-family: "Twin-Marker" !important;
    color: #ffffff;
    margin-bottom: 55%;
}

.bg {

    width: 100%;
    height: 960px;
    position: relative;
    z-index: 1;
    padding: 0 0px;
    overflow: hidden;
}

.content {
    position: relative;
    z-index: 1;


}


// css About
#about{
    .title {
        padding:0 auto;
        text-align: center;
            h2{
         font-family: "Twin-Marker" !important;
    }
    }
    img{
        min-height: 100%;
    }

}
// evenement
#event{
    min-height: 100vh;
    background-color:$lightgrey ;
    .title{
        text-align: center;
               h2 {
                   font-family: "Twin-Marker" !important;
                   font-size:45px;
                   background-color:grey;
                   margin-top:35px;
               }
    }

    .card{
        margin:10px;
        width: 30%;
        min-height:500px;
        box-shadow:5px 5px 10px gray;
        padding-top: 13px;
        border-radius:25px;
        .card-img {
            max-height: 220px;
            overflow: hidden;
            img{
                 width:100%;
                 height: 180px;
            }
        }
    }
}

// visit

iframe {
    object-fit: cover;
}
//footer
.footer {
    height: 300px;
    background-color: black;
    color: grey;
    padding-top: 50px;
}

// dashboard
#formcard{
    min-height: 100vh;
    margin-top:50px;
}