.container-fluid {
    margin: 0 !important;
    padding: 0 !important;
}

.hidden {
    opacity: 0;
}

.visible {
    opacity: 1;
}

#app {
    overflow-x: hidden;
}
.circle{
    border-radius:50%;
    width: 50px;
    height: 50px;
}
// .box {
//     background-image: linear-gradient(rgb(207, 202, 207), rgb(211, 208, 211)),
//         linear-gradient(rgb(138, 135, 138), rgb(107, 98, 107)),
//         linear-gradient(rgb(107, 104, 107), rgb(126, 123, 126)),
//         linear-gradient(rgb(27, 26, 27), rgb(10, 10, 10)),
//         linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
//     background-repeat: no-repeat;
//     background-size: 4px 50%, 50% 4px, 4px 50%, 50% 4px, calc(100% - 8px) calc(100% - 8px);
//     background-position: left bottom, left bottom, right top, right top, 4px 4px;

//     padding: 10px;
//     margin: 30px;
// }
.navbar-brand {
 margin-left: 25px;
 padding:0;      
}
.navbar-brand span,
h1 {
    font-family: "Twin-Marker",
        sans-serif;
    font-size: 45px;
    color: $black;
    font-weight: 900;
    
}
h2{
    margin: 30px 0!important;
}
// bandeauRGPD
.js-cookie-consent {
        position: fixed;
        bottom: 0px;
        padding: 10px;
        width: 100%;
        z-index: 100000;
        background-color:$darkgrey;
        text-align: center;
        justify-content: space-between;
        .cookie-consent__message{
            color:white;
            font-size: 1.1em;
        }
        button{
            color:white;
            margin:10px 0 10px 35px;
            border-radius: 5px;
   
} 
.js-cookie-consent-agree {
        background-color: $red;
        margin:10;
    
}  
    .rgpd a{
    color:white;
    text-decoration: none;
 }    
       
 }
 




// dashboard
.formcard {
    
    margin: 30px 0 30px 30px;
    border: 1px solid lightgray;
    border-radius: 25px;
    padding: 15px;
    // min-height: 60vh;

    .formBox {



        h2 {
            margin: 0;
            padding: 0;
            text-align: center;
            margin: 30px 0 20px 0;
            text-transform: uppercase;
            font-size: 30px;
        }

        .inputBox {
            position: relative;
            box-sizing: border-box;
            margin-bottom: 50px;

            .inputText {
                position: absolute;
                font-size: 15px;
                line-height: 50px;
                transition: .5s;
                opacity: .5;
            }

            .input {
                position: relative;
                width: 100%;
                height: 50px;
                background: transparent;
                border: none;
                outline: none;
                font-size: 18px;
                border-bottom: 1px solid rgba(0, 0, 0, .5);
            }

            input[type="file"] {
                display: none;
            }

            label {
                background-color: $green;
                position: relative;
                top: 65px;
                color: white;
                border-radius: 7px;
                width: 100%;
            }

            .custom-file-upload {
                border: 1px solid #ccc;
                display: inline-block;
                padding: 6px 12px;
                cursor: pointer;
            }


        }

        .focus .inputText
         {
            transform: translateY(-30px);
            font-size: 18px;
            opacity: 1;
            color: #07d400bd;

        }

        textarea {
            height: 100px !important;
        }

        .button {
            width: 100%;
            height: 50px;
            border: none;
            outline: none;
            background: rgb(3, 244, 83);
            color: #fff;
        }
    }
}
.formcadeau{
    min-height:45vh;
}
aside {
    background-color: $darkgrey;
    justify-content: space-between;
    h1 {
        color: white !important;
        font-size: 3rem !important;
    }

    ul {
        margin-left: 25px;
        float: right;
    }
}
.error404{
    
        min-height: 52vh;
        color: black;
        text-align: center;
        align-items: center;
        display: flex;

}